<h1> Please, submit the form </h1>
<h2> Add new project </h2>
<%= form_for @project do |f| %>
	<%= f.label :title %>
  </br>
	<%= f.text_field :title %>
	</br>
  <%= f.label :description %>
   </br>
  <%= f.text_field :description %>
  </br>
  <%= f.label :abstract%>
   </br>
  <%= f.text_field :abstract %>
  </br>
  <%= f.label :budget %>
  </br>
   <%= f.text_field :budget %>
   </br>
   <%= f.submit 'Submit' %>
  <% end %>